/* GLOBAL */
body{
font-family: 'Nunito', sans-serif;
color: white;
font-size: .9em;
opacity: 1;
}
.bg{
  background: url("../img/LumbergFlower.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  overflow-y: scroll;
}
p{
  display: inline-block;
}
p.date{
  font-size: .75em;
  padding-left: 10px;
  margin-bottom: auto;
}
section{
  float: left;
  background: rgba(104, 121, 127, 0.85);
  background-size: cover;
  padding: 0 5px;
  box-sizing: border-box;
  max-width: 90%;
  margin: 0 auto 10px auto;
  float: none;
}
article{
  position: relative;
  height: 500px;
  /*overflow-y: scroll;*/
}
h1{
  font-family: 'Pacifico', cursive;
  letter-spacing: 2px;
  font-size: 3em;
  line-height: 1em;
  color: rgb(214, 60, 58);
  text-shadow: 2px 2px rosybrown;
  text-align: center;
}
h2, h3{
  margin: 0 auto;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}


/* NAV */
nav{
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  line-height: 32px;
  width: 90%;
  margin: 10px auto;
  font-weight: 600;
}
nav ul{
	max-width: 100%;
	margin: 0 auto;
	padding-left: 0;
}
nav li{
  list-style-type: none;
  display: inline;
  margin: 20px 0;
  font-size: 1.5em;
  text-align: center;
  padding: 0 5px;
  float: left;
  overflow: hidden;
  background-color:  #343C40;
  box-shadow: 5px 5px 5px rgba(156,181,191,.7);
  width: 18%;
}
nav ul a:first-child li{
  border-radius: 10px 0 0 10px;
}
nav ul a:last-child li{
  border-radius: 0 10px 10px 0;
}
a:link,
a:visited{
	color: #D0F2FF;
  text-decoration: none;
}
a:hover{
	color: #BBDAE5;
  text-decoration: none;
}

/* END NAV */


/* BIOGRAPHY */
.skills ul li{
  width: 50%;
  float: left;
  margin-bottom: 2px;
}

.split{
  width: 50%;
  float: left;
  margin-bottom: 2px;
}

.contact-info{
  max-width: 90%;
  margin: 0 auto;
}
.contact-info a:link,
.contact-info a:visited{
	color: white;
	text-decoration: none;
}
.contact-info a:hover{
	color:#BBDAE5;
}

/* Cinch Link */
.cinch-site:link,
.cinch-site:visited{
  color: #97c21c;
  text-decoration: none;
  padding: 0px 5px;
  font-weight: bolder;
}
.cinch-site:hover{
  background: #97c21c;
  color: #fff;
  padding: 0px 5px;
  font-weight: bolder;
}
/* END Cinch Link */

/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}

@media(max-width: 470px){
  .skills ul li{
    width: 90%;
    float: left;
    margin-bottom: 2px;
  }
}
@media(max-width: 535px){
  .split{
  width: 90%;
  float: none;
  margin-bottom: 2px;
}
}
@media(max-width:612px) and (min-width: 470px){
  .skills ul li:first-child{
  width: 90%;
  float: left;
  margin-bottom: 2px;
}
.skills ul li,
.skills ul li ul li:first-child{
  width: 50%;
  float: left;
  margin-bottom: 2px;
}
}

@media(max-width: 627px){
   nav ul,
   nav ul a li{
   	width: 95%;
  	margin: 0 auto;
   }

   nav ul a:first-child li{
   		border-radius: 10px 10px 0 0;
   	}
   nav ul a:last-child li{
   	border-radius: 0 0 10px 10px;
   }
   .contact-info{
   	font-size: 1.5em;
    line-height: 2em;
   }
   .contact-info h1,
   .contact-info h2{
   	margin-top: 20px;
   	margin-bottom: 5px;
   }
   .contact-info a:link,
   .contact-info a:link:before{
   	content: "";
   	position: absolute;
   	top: 85%;
   	left:8%;
   }
}
@media(min-width:1130px){
  nav li{
    width:19%;
  }
}

.stile .bg{
  background: url("../img/LumbergFlower.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  overflow-y: scroll;
}
.stile section {
    float: left;
  background: rgba(104, 121, 127, 0.85);
  background-size: cover;
  padding: 0 5px;
  box-sizing: border-box;
  max-width: 90%;
  margin: 0 auto 10px auto;
  float: none;
}
 
.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
  border: 1px solid #000;
  float: left;
  margin: 0 10px;
  height: 50px;
  width: 50px;
}
.color-1{
  background-color: #D63C3A;
}
.color-2{
  background-color: #343C40;
}
.color-3{
  background-color: #D0F2FF;
}
.pattern-1{
  background: url("../img/crossword.png");
  background-size: cover;
}
.pattern-2{
  background: url("../img/squared_metal.png") no-repeat;
  background-size: cover;
}
.pattern-3{
  background: linear-gradient( to top, rgba(62, 163, 178, 0.5), rgba(255, 255, 255, 0.5));
}
/* Set Your Own Typography */
 .stile{
    font-family: 'Nunito', sans-serif;
 }
 
/* Set Your Own Margin & Padding */
 h2, h3 {
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}
p{
  font-family: 'Nunito', sans-serif;
}
 
/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}


/* END STYLE TILE */